{% extends "base.html" %}

{% block title %}Элитный магазин одежды{% endblock %}

{% block content %}
<h2></h2>
<div class="content-block">
    <section class="hero">
        <h2>Добро пожаловать в ELITE SHOP</h2>
        <p>Эксклюзивная одежда для избранных</p>
    </section>

    <section class="about">
        <h3>О нашем магазине</h3>
        <p>ELITE SHOP - это место, где встречаются роскошь и стиль. Мы предлагаем только эксклюзивные вещи от лучших дизайнеров мира.</p>
    </section>
</div>
{% endblock %}